<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
		{% for style in page.styles %}
			<link rel="stylesheet" href="{{ style }}" />
		{% endfor %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" integrity="sha384-fj9YEHKNa/e0CNquG4NcocjoyMATYo1k2Ff5wGB42C/9AwOlJjDoySPtNJalccfI" crossorigin="anonymous"></script>
		{% for script in page.scripts %}
			<script src="{{ script }}"></script>
		{% endfor %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta property="og:site_name" content="Elliott Beach" />
		<meta property="og:title" content="Home" />
		<meta property="og:url" content="http://e-beach.co" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="images/mz3.png" />
		<link rel="icon" href="images/mz3.png" />
	</head>
	<body>
		<div id="main-content" class="container">
			<h1>
				{% if page.title %}
					{{ page.title }} - {{ site.title }}
				{% else %}
					<a href="/">{{ site.title }}</a>
				{% endif %}
			</h1>
			{{ content }}
		</div>
	</body>
</html>